*{
	margin: 0;
	padding: 0;	
}

body{
	background-color: #C2DAAA;
	width: 100%;
	font-family: 'Ubuntu', sans-serif;
}

h1{
	font-weight: bold;
	font-family: 'Roboto Slab', serif;
}

#brand-logo{
	height: 30px;
	width: 50px;
}

#brand-style{
	font-size: 24px;
	font-family: 'Roboto Slab', serif;
}

.navbar{
	background-color: #86b557;
	font-weight: bold;
	font-family: 'Roboto Slab', serif;
}

.jumbotron{
	/*background-color: #C2DAAA;*/
}

.jumbotron-custom-style{
	margin-right: 10px;
	margin-left: 15px;
}

.carousel-pic{
	height: 40rem;
}

p{
	font-size: 1.5rem;
}

.about-us-image{
	border-radius: 50%;
	height: 280px;
	width: 280px;
}

.about-us-name{
	font-size: 2rem;
	font-weight: bold;
}

.container{
	background-color: #F4F4F6;
	border-radius: 10px;
}

#mission-what, #vision-what{
	margin-top: 18%;
}

/*.what-we-do-image-container{
	width: 100%;
	height: 100%;
}*/

#vision-image{
	background-image: url("./images/logo/vision.png");
	width: 100px;
	height: 300px;
	border-radius: 10px;
}

#mission-image{
	background-image: url("./images/logo/mission.png");	
	width: 100px;
	height: 300px;
	border-radius: 10px;
}

.what-we-do-text{
	margin-top: 3%;
}

#what-we-do-container{
	background-color: #ffffff !important;
}

.our-work-image{
	height: 250px;
	width: 250px;
	margin: 10px;
}

.card-body{
	padding: 0 !important;
}

.card{
	margin-left: 10px;
}
/*
#our-work-container{
	height: 24rem;
}*/

.form-control{
	margin-bottom: 10px;
	margin-right: 15px;
	margin-left: 10px; 
}

#social{
	background-color: #CCE0B8;
}

#contact-social{
	font-size: 15px !important;
}

.member-image{
	border-radius: 50%;
	height: 200px;
	width: 200px;
}

#iso-image{
	width: 230px !important;
}

span{
	font-size: 2rem;
	font-weight: bold;
}

.product-image{
	width: 80%;
	height: 80%;
	border-radius: 10px;
	margin-top: 2%;
}